---
import { Image } from "astro:assets"
import Logo from "../assets/logo.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="../src/assets/cube.svg" />
		<meta name="generator" content={Astro.generator} />
        <title>Portfolio</title>
        <meta name="description" content="Experienced web developer crafting modern, responsive websites and applications. Browse my featured work, coding skills, and professional background.">
	</head>
    <body class="min-h-screen grid grid-rows-[auto_1fr_auto]">
        <header>
            <nav class="grid grid-cols-8 gap-8 items-center p-4 bg-gray-900 text-white opacity-75">
                <!-- <Image src={Logo} alt="My Logo" loading="lazy" width="64" height="64" fill class="rounded-full" /> -->
                <Logo class="rounded-full fill-rose-50 w-16 h-16" />
                <a href="/">Home</a>
                <a href="/tech">Tech Stack</a>
                <a href="/certs">Certs & Education</a>
                <a href="/work">Experience</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <main class="bg-background grid place-items-center">
            <slot />
        </main>
        <footer class="bg-background pt-2">
            <hr class="border-blue-400" />
            <!-- <p class="text-center text-sm text-gray-400">© 2023 Amaterasu. All rights reserved.</p> -->
            <p class="text-center text-sm text-gray-400">copyright © {new Date().getFullYear()} Silvestrs. All rights reserved.</p>
        </footer>
	</body>
</html>

<style>
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins;
    src: url("../../public/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

main{
    background-image: url("../assets/bg.png");
    background-size: cover;
}
</style>
